{% extends "base.html" %}


{% block title %}Edit User{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="d-flex">Edit User</h2>
    <form method="POST">
        <label>User Name</label>
        <input type="text" name="user-name" class="form-control" id="user-name" value="{{ user.name }}"><br>
        <label>Phone Number</label>
        <input type="phone" name="phone-number" class="form-control" id="phone-number" value="{{ user.phone }}"><br>
        <input type="submit" class="btn btn-success" value="Update">
    </form>
</div>
{% endblock %}